| window.location="#{redirection_url}";
| $("#signature_status").html("<div class='alert alert-success'>OK! Your vote of #{btc_human(@signature.bitcoin_address.balance)} is accepted</div>");
| $("#signature_status").slideDown(350);
