version: '2'
services:
  backround_worker:
    build: .
    command: bundle exec rake background_worker:run
    environment:
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - DATABASE_URL=${DATABASE_URL}
      - RACK_ENV=${RACK_ENV}
      - RAILS_ENV=${RAILS_ENV}
  web:
    build: .
    command: bundle exec puma -C config/puma.rb
    environment:
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - DATABASE_URL=${DATABASE_URL}
      - RACK_ENV=${RACK_ENV}
      - RAILS_ENV=${RAILS_ENV}
      - RAILS_SERVE_STATIC_FILES=${RAILS_SERVE_STATIC_FILES}
      - SENTRY_DSN=${SENTRY_DSN}

    ports:
      - "3000:3000"
