/*
Home Page

Sample style for Home Page

markup:
<div ng-init="navActivated = false">
  <sg-insert>3.1</sg-insert>
  <div class="main-wrapper">
    <sg-insert>2.3</sg-insert>
    <sg-insert>2.2.1</sg-insert>
    <sg-insert>2.4</sg-insert>
    <div class="page-content">
      <div class="main-section">
        <sg-insert>2.6</sg-insert>
        <h2>Controversial Arguments</h2>
        <sg-insert>2.1.1</sg-insert>
        <sg-insert>2.1.1</sg-insert>
        <sg-insert>2.1.1</sg-insert>
        <sg-insert>2.1.1</sg-insert>
        <sg-insert>2.1.1</sg-insert>
      </div>
      <sg-insert>3.3</sg-insert>
    </div>
  </div>
</div>

Styleguide 4.1
*/
