/*
Ad slots

Containers to display ads

.ad-728x90              - 728 x 90 px

markup:
<div class="ad-container">
  <div class="ad centered dummy {$modifiers}">
  </div>
</div>

Styleguide 2.6
*/
.ad-container {
  overflow: hidden;
  margin: 20px 0;

  &:first-child {
    margin: 0 0 20px;
  }

  &:last-child {
    margin: 20px 0 0;
  }
}

.ad {
  position: relative;
  border: 1px solid #CCCCCC;
  overflow: hidden;
  width: 728px;
  height: 90px;

  &.centered {
    margin-left: auto;
    margin-right: auto;
  }

  &.dummy {
    &:before {
      position: absolute;
      content: '728x90';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.ad-728x90 {
      &:before {
        content: '728x90';
      }
    }
  }

  &.ad-728x90 {
    width: 728px;
    height: 90px;
  }
}
