/*
Argument List Item

Style for argument list item

Styleguide 1.1
*/

  /*
  Status

  Default style for an argument

  default                            - Default status
  .positive                          - Positive status
  .negative                          - Negative status

  markup:
  <div class="listitem-argument {$modifiers}">
    <div class="title">Block size limit should be increased to 8 mb as soon as possible</div>
    <div class="summary">
      <div class="summary-panel">
        <div class="amount" title="5890.76742900">5890.76 <span class="currency">BTC</span></div>
      </div>
      <div class="vote-panel">
        <a href="javascript:;" class="vote-up"><span class="arrow up"></span></a>
        <a href="javascript:;" class="vote-down"><span class="arrow down"></span></a>
      </div>
    </div>
  </div>

  Styleguide 1.1.1
  */

  /*
  Vote button styles

  Default style for an argument

  markup:
  <div class="listitem-argument positive">
    <div class="title">Block size limit should be increased to 8 mb as soon as possible</div>
    <div class="summary">
      <div class="summary-panel">
        <div class="vote-up"><a href="#"><span class="arrow up"></span></a></div>
        <div class="amount" title="5890.76742900">5890.76 <span class="currency">BTC</span></div>
        <div class="vote-down"><a href="javascript:;"><span class="arrow down"></span></a></div>
      </div>
    </div>
  </div>
  <div class="listitem-argument positive">
    <div class="title">Block size limit should be increased to 8 mb as soon as possible</div>
    <div class="summary">
      <div class="summary-panel">
        <div class="amount" title="5890.76742900">5890.76 <span class="currency">BTC</span></div>
      </div>
      <div class="vote-panel">
        <a href="javascript:;" class="vote-up"><span class="arrow up"></span></a>
        <a href="javascript:;" class="vote-down"><span class="arrow down"></span></a>
      </div>
    </div>
  </div>

  Styleguide 1.1.2
  */

  /*
  Themes

  Theme options for argument list item

  default                              - Default theme (light)
  .theme-dark                          - Dark theme

  markup:
  <div class="listitem-argument positive {$modifiers}">
    <div class="title">Block size limit should be increased to 8 mb as soon as possible</div>
    <div class="summary">
      <div class="summary-panel">
        <div class="vote-up"><a href="#"><span class="arrow up"></span></a></div>
        <div class="amount" title="5890.76742900">5890.76 <span class="currency">BTC</span></div>
        <div class="vote-down"><a href="javascript:;"><span class="arrow down"></span></a></div>
      </div>
    </div>
  </div>
  <div class="listitem-argument positive {$modifiers}">
    <div class="title">Block size limit should be increased to 8 mb as soon as possible</div>
    <div class="summary">
      <div class="summary-panel">
        <div class="amount" title="5890.76742900">5890.76 <span class="currency">BTC</span></div>
      </div>
      <div class="vote-panel">
        <a href="javascript:;" class="vote-up"><span class="arrow up"></span></a>
        <a href="javascript:;" class="vote-down"><span class="arrow down"></span></a>
      </div>
    </div>
  </div>

  Styleguide 1.1.3
  */

.listitem-argument {
  display: flex;
  align-items: stretch;
  box-shadow: 0 0 10px #ccc;
  background-color: #FFFFFF;
  color: #3c3c3c;

  + .listitem-argument {
    margin-top: 10px;
  }

  &:after {
    content: '';
    display: block;
    border-left: 12px solid #f9b016;
  }

  &.positive:after {
    border-left: 12px solid #7bdc08;
  }
  &.negative:after {
    border-left: 12px solid #f33535;
  }

  .summary {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0,0,0,0.05);

    .summary-panel {
      padding: 10px 20px;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .vote-panel {
      display: flex;

      .arrow {
        &.up {
          border-color: transparent transparent #FFFFFF transparent;
        }

        &.down {
          border-color: #FFFFFF transparent transparent transparent;
        }
      }

      .vote-down {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        flex: 1 1 auto;
        background-color: #666666;
        transition: background-color 0.2s cubic-bezier(.55,0,.1,1);

        &:hover {
          background-color: #f33535;
        }
      }

      .vote-up {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        flex: 1 1 auto;
        background-color: #666666;
        transition: background-color 0.2s cubic-bezier(.55,0,.1,1);

        &:hover {
          background-color: #7bdc08;
        }
      }
    }

    .amount {
      font-size: 1.1em;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (min-width: $mobile) {
        font-size: 1.5em;
      }
    }
  }

  .title {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-weight: 300;
  }

  /* Themes */
  &.theme-dark {
    background-color: #3c3c3c;
    color: #AAAAAA;

    .summary {
      background-color: #f9b016;
      color: #FFFFFF;

      .arrow {
        &.up {
          border-color: transparent transparent #FFFFFF transparent;
        }

        &.down {
          border-color: #FFFFFF transparent transparent transparent;
        }
      }
    }
  }
}
