/*
Typography

Styleguide 1.4
*/
/*
Heading

markup:
<h1>Heading H1</h1>
<h2>Heading H2</h2>
<h3>Heading H3</h3>
<h4>Heading H4</h4>
<h5>Heading H5</h5>
<h6>Heading H6</h6>

Styleguide 1.4.1
*/

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
}
