/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.addthis_counter
{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* 
  vote.bitcoin.com 
  updated css to give it basic look and feel, will need some tweaks
*/

body {
  font-family: "Titillium Web", Arial, Tahoma, sans-serif;
}

.navbar-nav li.active a {
  background: #ffffff !important;
  border-bottom: 3px solid #fab915 !important;
}

.navbar {
  font-family: "Titillium Web", Arial, Tahoma, sans-serif;
  font-size:18px;
  font-weight:400;
  line-height: 60px;
  padding: 15px 0px;
  background-color:#fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.navbar-nav li a {
  color:#959595 !important;
}

a.navbar-brand {
  font-family: "Titillium Web", Arial, Tahoma, sans-serif;
  text-indent: -9999px;
  padding-left:250px; 
  background-image:url(https://www.bitcoin.com/wp-content/uploads/2016/11/bitcoin-logo.png);
  background-repeat: no-repeat; 
}

a, .btn-link {
  color: #fab915;
}

a:hover {
  color: #fab915;
  text-decoration:none;
}

.container h1 {    
  margin-top:-3px;
  font-size: 42px;
  line-height: 42px;
  font-family: "Titillium Web", Arial, Tahoma, sans-serif;
  font-weight: 300;
  color: #8b8b8b;
}

.lead {
  color: #8b8b8b;
  font-size:18px;
}

.nav-tabs li.active a {
  color:#fff;
  background-color:#fab915;
  font-family: "Titillium Web", Arial, Tahoma, sans-serif;
  font-weight: 300;
}

.nav-tabs li a {
  color: #8b8b8b;
}

.bg-success {
padding:10px;
border-radius:10px; 
border:1px solid #c2efae;
}

.bg-danger {
  padding:10px;
  border-radius:10px; 
  border:1px solid #efc9c9;
}

table.bg-success, table.bg-danger {
  border-radius:0px;
}

input.btn, input.btn:hover, .btn-info, .btn-info:hover {
  width:165px !important;
  padding:4px;
  color:#fff;
  border:1px solid #fab915;
  background-color:#fab915;
  font-family: "Titillium Web", Arial, Tahoma, sans-serif;
  font-weight: 300;
}

input.form-control {
  margin:20px 0px;
  height:60px;
  border-width: 3px;
  border-radius: 30px;
  border-color: #fab915;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 80%;
  display: inline-block;
}

.btn-default, .btn-default:hover {
  margin:20px 0px;
  height:60px;
  border-width: 3px;
  border-left:none;
  border-radius: 30px;
  border-color: #fab915;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 80%;
  display: inline-block;
}

.footer {
  border-top: 1px solid rgba(255,255,255,.1);
  margin-top:40px;
  width:100%;
  padding: 10px;
  color: #cccccc;
  background-image: url(https://www.bitcoin.com/wp-content/uploads/2015/12/footer_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #333333;
}

.pagination li.page.active a {
  color:#fff;
  background-color:#fab915;
  border:1px solid #fab915;
  font-family: "Titillium Web", Arial, Tahoma, sans-serif;
  font-weight: 300;
}

.pagination li.page a, li.next_page a, li.last.next a {
color:#8b8b8b;
}
